<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{{ url_for('static', path='/assets/') }}" 
  data-template="vertical-menu-template">
  <head>
    {% include 'header_file.html' %}
    <style>
        .alert {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            font-size: 16px;
        }
        
        .alert-success {
            background-color: #d4edda;
            color: #155724;
        }
        
        .alert-danger {
            background-color: #f8d7da;
            color: #721c24;
        }
        
        .alert-info {
            background-color: #d1ecf1;
            color: #0c5460;
        }
        
            </style>
  </head>

<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        {% include 'report_template/sidebar.html' %}
        <div class="layout-page">
            {% include 'header_nav.html' %}
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="py-3 breadcrumb-wrapper mb-4">
                        <span class="text-muted fw-light">{{ session.role_name }} /</span> Organization List
                    </h4>

                    <!-- <div class="text-end mb-3">
                        <a class="btn btn-success" href="{{ url_for('main.organization') }}"><b>
                            New Organization</b>
                        </a>
                    </div> -->

                    <div class="card">
                        <h5 class="card-header">Select organization</h5>
                        <div class="card-datatable text-nowrap table-responsive">
                            <table class="table table-bordered" id="users_table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Organization</th>
                                        <th>LPU ID</th>
                                        <th>LPU IP</th>
                                        <th>LPU NAME</th>
                                        <th>STATUS</th>
                                        <th>Manage</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
</div>

{% include 'script_file.html' %}


<script>


    const edit_permission = {{ 'true' if edit_permission else 'true' }};
    const delete_permission = {{ 'true' if delete_permission else 'true' }};
    
    console.log("Edit User permission:", edit_permission);
    console.log("Delete User permission:", delete_permission);



$(document).ready(function() {
    $('#users_table').DataTable({
        "ajax": {
            "url": "/list/organization",
            "type": "GET",
            "dataSrc": "data"
        },
        "columns": [
            { "data": "id" },
            { "data": "org_name" },
            {"data":"lpu_id"},
            { "data": "lpu_ip" },
            { "data": "lpu_name" },
            {
                "data": "lpu_status",
                "render": function(data, type, row) {
                    if (data === true) {
                        return '<span class="text-success fw-bold">Active</span>';
                    } else {
                        return '<span class="text-danger fw-bold">Inactive</span>';
                    }
                }
            },

            
           

            {
               "data": null,
                "render": function(data, type, row) {
                    return `<a href="/auth/dashboard?lpu_id=${row.lpu_id}&lpu_ip=${row.lpu_ip}&lpu_name=${row.lpu_name}" 
                                class="btn btn-success btn-sm">Manage</a>`;
                }
            } ,
            {
                "data": null,
                render: function(data, type, row) {
                    return `
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item edit-lpu" data-id="${row.id}">
                                    <i class="bx bx-edit-alt me-1"></i> Edit
                                </a>
                                
                            </div>
                        </div>
                    `;
                }
            }
        ]
        


        
    });

    $('#users_table tbody').on('click', '.edit-lpu', function() {
        const lid = $(this).data('id');  
        if (!edit_permission) {
            Swal.fire({
                title: 'Access Denied!',
                text: 'You do not have permission to edit LPU.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return; 
        }
        window.location.href = `/main/org/edit/${lid}`;
    });

});
</script>

</body>
</html>
