---
- name: Install Docker dependencies
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
    state: present
    update_cache: yes

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: Install Docker CE
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: latest
    update_cache: yes

- name: Enable and start Docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Remove old docker-compose binaries
  shell: |
    rm -f /usr/local/bin/docker-compose
    rm -f /usr/bin/docker-compose
    rm -f /usr/lib/python3/dist-packages/docker_compose*
    rm -f /usr/lib/docker/cli-plugins/docker-compose
    rm -f /usr/local/lib/docker/cli-plugins/docker-compose
  args:
    executable: /bin/bash

- name: Install Docker Compose binary
  get_url:
    url: "https://github.com/docker/compose/releases/download/v2.35.1/docker-compose-Linux-x86_64"
    dest: /usr/local/bin/docker-compose
    mode: '0755'

