---
- name: Install Docker on old Ubuntu
  hosts: ansible_client
  become: yes

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Enable universe repo
      apt_repository:
        repo: "deb http://archive.ubuntu.com/ubuntu bionic universe"
        state: present

    - name: Install prerequisites
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg2
        state: present

    - name: Install Docker using official script
      shell: |
        curl -fsSL https://get.docker.com -o get-docker.sh
        sh get-docker.sh
      args:
        executable: /bin/bash

    - name: Install docker-compose v2 manually
      shell: |
        curl -SL https://github.com/docker/compose/releases/download/v2.27.0/docker-compose-$(uname -s)-$(uname -m) \
        -o /usr/local/bin/docker-compose
        chmod +x /usr/local/bin/docker-compose
