<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{{ url_for('static', path='/assets/') }}" 
  data-template="vertical-menu-template">
  <head>
    {% include 'header_file.html' %}
  
        .alert {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            font-size: 16px;
        }
        
        .alert-success {
            background-color: #d4edda;
            color: #155724;
        }
        
        .alert-danger {
            background-color: #f8d7da;
            color: #721c24;
        }
        
        .alert-info {
            background-color: #d1ecf1;
            color: #0c5460;
        }
        
            </style>
  </head>

  <body>

    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        {% include 'side_nav.html' %}
        <div class="layout-page">
          {% include 'header_nav.html' %}
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="py-3 breadcrumb-wrapper mb-4">
                    <span class="text-muted fw-light">{{ session.role_name }} /</span> User Assesments
                </h4>
                <div class="row mb-4 col-6">
                    <div class="col-md">
                        <div class="card">
                          <h5 class="card-header">Update User Account</h5>
                          <div class="card-body">
                            {% if message %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}

                            <form id="role_assessment_update" action="/main/user/update/{{ user.id }}" method="post">
                                <div id="loadingMessage" class="alert alert-info" style="display: none;"></div>
                                <div id="alertMessage" style="display: none;" class="mb-3 mt-3"></div>
                        
                                <div class="mb-3">
                                    <label class="form-label" for="role_select">Role</label>
                                    <select class="form-select" id="role_id" name="role_id" required>
                                        <option value="" disabled>Select a role</option>
                                        {% for role in roles %}
                                            <option value="{{ role.id }}" {% if role.id == user.role_id %}selected{% endif %}>
                                                {{ role.role_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                
                                
                                  <div class="mb-3">
                                    <label class="form-label" for="bs-validation-name">User ID</label>                                
                                    <input type="text" class="form-control" id="user_id" name="user_id" value="{{ user.user_id }}" required>
                                </div>


                                <div class="mb-3">
                                    <label class="form-label" for="bs-validation-name">User Name</label>                                
                                    <input type="text" class="form-control" id="user_name" name="user_name" value="{{ user.user_name }}" required>
                                </div>
                        
                                <div class="mb-3">
                                    <label class="form-label" for="bs-validation-email">Email</label>
                                    <input type="email" class="form-control" id="user_email" name="user_email" value="{{ user.user_email }}" required>
                                </div>
                        
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>

                          </div>
                        </div>
                      </div>
                </div>
            </div>
            
            <!-- / Content -->

            

            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>

      <div class="drag-target"></div>
    </div>


    {% include 'script_file.html' %}
    
  </body>

</html>
