<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Authorized</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh; /* Full viewport height */
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
        }
       
    </style>
</head>
<body>
    <div class="content">
        <img src="{{ url_for('static', path='assets/img/stream/unauth.jpg') }}" alt="Error Image">
        <h1>Oops, 403: Not Authorized.</h1>
        <p>You don't have permission to access this resource</p>
    </div>
</body>
</html>
