name: update_movablekit GitHubaction

on:
  workflow_dispatch:  

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3   

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3
  
      - name: Checkout Nivetha branch code
        uses: actions/checkout@v4
        with:
          ref: Nivetha

      - name: Show current branch and files
        run: |
           echo "Checked out branch: Nivetha"

      - name: Build Docker image
        run: |
          docker build -t movable .
     
      - name: Start Postgres container
        run: docker-compose up -d db

      - name: Wait for DB to start
        run: sleep 10

      - name: Start app and nginx
        run: docker-compose up -d app nginx
